<h1>Merchants</h1>

<div>
  <h3> Top Ten Merchants This Month By Sales </h3>
  <% @top_merchants_this_month.each do |merchant|%>
    <p class="top_sales_this_month"> <%= merchant.name %> </p>
  <% end %>
</div>

<div>
  <h3> Top Ten Merchants Last Month By Sales </h3>
  <% @top_merchants_last_month.each do |merchant|%>
    <p class="top_sales_last_month"> <%= merchant.name %> </p>
  <% end %>
</div>

<div>
  <h3> Top Ten Merchants This Month By Fullfilment Of Orders </h3>
  <% @top_fulfilling_this_month.each do |merchant|%>
    <p class="top_fulfillment_this_month"> <%= merchant.name %> </p>
  <% end %>
<div>

<div>
  <h3> Top Ten Merchants Last Month By Fullfilment Of Orders </h3>
  <% @top_fulfilling_last_month.each do |merchant|%>
    <p class="top_fulfillment_last_month"> <%= merchant.name %> </p>
  <% end %>
</div>

<% if current_user%>
<div>
  <h3> Top Five Merchants By Fullfilment Of Orders To My State </h3>
    <% @fastest_fulfilling_for_state.each do |merchant|%>
      <p class="fulfillment_by_state"> <%= merchant.name %> </p>
    <% end %>
</div>
<div>
  <h3> Top Five Merchants By Fullfilment Of Orders To My City </h3>
    <% @fastest_fulfilling_for_city.each do |merchant|%>
      <p class="fulfillment_by_city"> <%= merchant.name %> </p>
    <% end %>
</div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_admin? %>
      <th>Active</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr id="merchant-<%= merchant.id %>">
        <td>
        <% if current_admin? %>
        <%= link_to merchant.name, merchant_path(merchant) %>
        <% else %>
        <%= merchant.name %>
        <% end %>
        </td>
        <% if current_admin? %>
        <td><%= merchant.active %></td>
        <td>
          <% if merchant.active %>
          <%= button_to "Disable", user_path(merchant), method: :patch, params: { toggle: :disable } %>
          <% else %>
          <%= button_to "Enable", user_path(merchant), method: :patch, params: { toggle: :enable } %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
